<!DOCTYPE html>
<html>

<head>
    <title>Add Joke</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/api/add">
        <h1>Add a new joke</h1>
        <input id="newJoke" type="text">
        <input type="submit">
    </form>
</body>

</html>