<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>: <%= userName %></p>
    <a href="/jokes">Get a random joke!</a> <br>
    <a href="/alljokes">See all my jokes!</a><br>
    <a href="/addjoke">Submit a new joke :)</a> <br>



  </body>
</html>
