<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <p>Jokes page :)</p>
  <p> What else can I say </p>
    <p><%= joke %></p>
    <a href="/">Back</a><br>
    You have visited a total of <%- counter %> times ^.^

  </body>
</html>
