<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1><%= title %></h1>
  <form method="POST" action="/"> 
  <label for="userName">Username: </label>
  <input type="text" name="userName" />
  <button>login</button>
  </form>
  
  </body>
</html>
